#master_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  max-width: 1000px;
}

#header_wrapper {
  grid-column: 1;
  grid-row: 1;
}

#table_wrapper {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

#graph_wrapper {
  grid-column: 1;
  grid-row: 3;
}

#rotor_spec_table {
  grid-column: 1 / span 2;
  grid-row: 1;
}

#stator_spec_table {
  grid-column: 3 / span 2;
  grid-row: 1;
}

#performance_table {
  grid-column: 5 / span 2;
  grid-row: 1;
}

#fit_table {
  grid-column: 1 / span 3;
  grid-row: 2;
}

#elastomer_table {
  grid-column: 4 / span 3;
  grid-row: 2;
}

#arcotech_logo {
  width: 30%;
  height: auto;
}

.table_title {
  background: #2FB24C;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

td {
  font-family: "Open Sans", sans-serif;
}
